body {
    font-family: var(--font-family);
    background-color: #040d1b;
    margin: 0; /* Remove default margin */
    overflow-x: hidden; /* Prevent horizontal scrollbar */
} 

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Medium heading for phones */
.heading-mobile {
  font-size: large;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }

  .heading-desktop {
    display: none; /* Hide the large heading on phones */
  }

  .heading-mobile {
    display: block; /* Show the medium heading on phones */
  }
}

@media (min-width: 601px) {
  .heading-desktop {
    display: block; /* Show the large heading on desktops */
  }

  .heading-mobile {
    display: none; /* Hide the medium heading on desktops */
  }
}

@-ms-viewport { 
  color: #040d1b;
}

.full-width-form {
    width: 100%;
    margin-top: 1rem;
  }
  
.heading {
  font-size: x-large;
}

  .input-container {
    display: flex;
  }
  
  .full-width-input {
    flex-grow: 1;
    margin-bottom: 0.5rem;
  }
  
  .full-width-inlineMessage {
    width: 100%;
  }
  
  .full-width-submit {
    width: 7rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }
  

.slider-container {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.playlist-items {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}
  
.card {
    width: 320px;
    margin: 0.5rem;
}

.accordion-table {
    width: 100%;
    text-align: center;
}

.footer {
  padding: 0.5rem;
  text-align: center;
  margin-top: auto;
  color: #a2a6a9;
}