/* #app {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

body {
    font-family: var(--font-family);
    background-color: #040d1b;
} 

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}

.full-width-form {
    width: 100%;
    margin-top: 20px;
  }
  
  .input-container {
    display: flex;
  }
  
  .full-width-input {
    flex-grow: 1;
    margin-bottom: 10px;
  }
  
  .full-width-inlineMessage {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .full-width-submit {
    width: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  

.slider-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.playlist-items {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.card {
    width: 320px;
    margin: 10px;
}